<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
　　    <h1>商品詳細</h1>
　　　  <%= image_tag @product.get_product_image, size: '600x400' %>
　　</div>
　　<div class='col-md-8 offset-md-1'>
　　  <%= form_with model: @cart_product, url: cart_products_path, method: :post do |f| %>
　　      <%= @product.name %>
　　      <%= @product.introduction %>
　　      ¥<%= (@product.price * 1.1).floor %>
　　      <% if customer_signed_in? %>
　　        <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.select :quantity, *[1..10], include_blank: "選択してください" %>
            <%= f.submit 'カートに入れる' %>
          <% else %>
            <p>ご購入を希望の方は、<%= link_to "こちら", new_customer_session_path %>からログインしてください。</p>
            <p>会員登録がまだの方は<%= link_to "こちら", new_customer_registration_path %>から新規登録してください。</p>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
