<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>

      <%= image_tag @product.product_image, size: "200x200" %>
      <h1><%= @product.name %></h1>
      <h4><%= @product.introduction %></h4>
      <h3>¥<%= (@product.price*1.1).floor %></h3>(税込) <!--税込価格表記方法要確認-->
      <%= form_with model: @cart_product do |f| %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <%= f.select :quantity, *[1..10], include_blank: "選択してください" %>
        <%= f.submit 'カートに入れる' %>
      <% end %>
    </div>
  </div>
</div>
