<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% cart_products.each do |cart_product| %>
      <tr>
        <td>
          <%= image.tag cart_product.product.image, size: '50x50' %>
          <%= cart_product.product.name %>
        </td>
        <td><%= cart_product.product.with_tax_price %></td>
        <td>
          <%= form_with model: cart_product do |f| %>
            <%= f.select :quantity, *[1..10] %>
            <%= f.submit "変更", class: "btn btn-success" %>
            <% end %>
        </td>
        <td><%= cart_product.subtotal %></td>
        <td>
          <%= link_to "削除する", cart_product_path(cart_product), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
