<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2 class="ml-5">ジャンル一覧・追加</h2>
       <%= render 'layouts/errors', obj: @genre %>
        <%= form_with model: @genre, url: "/admin/genres", local: false do |f| %>
          <div class="pt-4 form-inline">
          <div>ジャンル名</div>
          <div class="pl-5"><%= f.text_field :name, placeholder: "ジャンル名" %></div>
          <div class="pl-5"><%= f.submit '新規登録', class: "btn btn-outline-primary" %></div>
        <% end %>
        </div>

        <div class="row pt-4">
          <div class="genre_index">
          <%= render "index", genres: @genres, genre: @genre %>
          </div>
        </div>
    </div>
  </div>
</div>