<div style= "margin: 50px;" >
  <h3 style="margin-left: 50px;">配送先登録/一覧</h3>
  <%= render 'layouts/errors', obj: @shipping_address %>
  <%= form_with model: @shipping_address do |f| %>
  <table  class="table table-borderless" style= "margin-top: 50px;">
    <tbody>
      <tr>
        <th style="width: 15%;">郵便番号(ハイフンなし)</th>
        <th style="width: 40%"><%= f.text_field :postcode, placeholder: "0000000", class: "form-control col-3" %></th>
      </tr>
      <tr>
        <th>住所</th>
        <th><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町", class: "form-control" %></th>
      </tr>
      <tr>
        <th>宛名</th>
        <th><%= f.text_field :name, placeholder: "令和道子", class: "form-control col-3" %></th>
        <th><%= f.submit '新規登録', class: "btn btn-primary" %></th>
      </tr>
    </tbody>
  </table>
  <% end %>

  <table class="table table-bordered table-background" style="width: 900px;">
    <thead>
      <tr>
        <th style="width: 10%;">郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th style="width: 25%;"></th>
      </tr>
    </thead>
    <% @shipping_addresses.each do |shipping_address| %>
    <tbody>
      <tr>
        <td><%= shipping_address.postcode %></td>
        <td><%= shipping_address.address %></td>
        <td><%= shipping_address.name %></td>
        <td>
          <%= link_to "編集する", edit_shipping_address_path(shipping_address.id), class: "btn btn-success" %>
          <%= link_to "削除する", shipping_address_path(shipping_address), data: { confirm: '本当に消しますか？' }, method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>