<h1>注文情報入力</h1>
<h6>支払方法</h6>
<%= form_with model: @order do |f| %>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method, "クレジットカード" %><br>
  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method, "銀行振込" %>
<% end %>

<h6>お届け先</h6>
<%= form_with model: @order do |f| %>
  <%= f.radio_button :address, 0 %>
  <%= f.label :address_number_0, "ご自身の住所" %>
  <%= current_customer.postcode %>
  <%= current_customer.address %>
<br>
  <%= f.radio_button :address, 1 %>
  <%= f.label :address_number_1, "登録済住所から選択" %>
<br>
  <%= f.radio_button :address, 2 %>
  <%= f.label :address_number_2, "新しいお届け先" %>
  <div class="form-group">
  <%= f.label :postcode, "郵便番号（ハイフンなし）" %>
  <%= f.text_field :postcode %>
  <div class="form-group">
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <div class="form-group">
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %>
  </div>
  <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
<% end %>

